@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* CSS CUSTOM PROPERTIES */
:root {
	--primary-orange: hsl(25, 97%, 53%);
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(217, 12%, 63%);
	--medium-gray: hsl(216, 12%, 54%);
 	--dark-blue: hsl(213, 19%, 18%);
 	--darker-blue: hsl(215, 22%, 15%); /* card color */
 	--less-darker-blue: hsl(215, 18%, 19%); /* star background color */
	--very-dark-blue: hsl(216, 12%, 8%);
	--font-overpass: 'Overpass', sans-serif;
	--font-overpass-regular: 400;
	--font-overpass-bold: 700;
}

/* MAIN CSS */
*,
*::before,
*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

body {
		background-color: var(--very-dark-blue);
		color: var(--white);
		font-family: var(--font-overpass);
		font-weight: var(--font-overpass-regular);
}

.interactive-card-main {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
}

.interactive-card {
		background-color: var(--darker-blue);
		max-width: calc(375px * 0.89);
		padding: 1.45rem;
		border-radius: 1rem;
}

.card-header {
		font-weight: var(--font-overpass-bold);
		font-size: 1.5em;
		margin-bottom: 1rem;
}

.card-header::before {
		content: '';
		display: block;
		background-color: var(--less-darker-blue);		
		background-image: url('images/icon-star.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 0.55em;
		width: 1em;
		aspect-ratio: 1/1;
		padding: 0.85em;		
		border-radius: 50%;
		margin-bottom: 1.1rem;
}

.card-paragraph {
		color: var(--light-gray);
		font-size: calc(14.5em/16); /* 14.5px */
		line-height: 1.5;
		margin-bottom: 0.4rem;
}

.rating-btn-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.05rem;
}

.btn-txt {
		display: flex;
		justify-content: center;
		align-items: center; /* puts the text in the center of the button */
		width: 2.7rem;
		aspect-ratio: 1/1;
    background-color: var(--dark-blue);
    color: var(--light-gray);
    border-radius: 50%;
    transition: background-color 100ms ease-in, color 100ms ease-in;
}

.btn-txt:hover {
		background-color: var(--medium-gray);
		color: var(--white);
		cursor: pointer;
		transition: background-color 200ms ease-in, color 200ms ease-in;
}

.rating-btn
input[type="radio"] {
		-webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.rating-btn
input[type="radio"]:checked + .btn-txt {
		background-color: var(--primary-orange);
		color: var(--white);
		transition: background-color 200ms ease-in, color 200ms ease-in;
}

.rating-btn
input[type="radio"]:focus {
		
}

.submit-btn-wrapper {
		display: flex;
		align-items: center;
		min-height: 3.5rem;
}

.submit-btn {
		width: 100%;
		background-color: var(--primary-orange);
		color: var(--white);
		font-weight: var(--font-overpass-bold);
		letter-spacing: 0.2em;
		padding: 0.95em;
		border: solid 2px var(--primary-orange);
		border-radius: 2em;
		transition: all 200ms ease-in;
}

.submit-btn:hover,
.submit-btn:active {
		background-color: var(--white);
		color: var(--primary-orange);
		border: solid 2px var(--white);
}
.submit-btn:hover {
		cursor: pointer;
		transition: all 200ms ease-in;
}


.submit-btn:active {
		border: none;
}

/* THANKYOU MESSAGE */
.thankyou-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 0 0.4rem;
}

.thankyou-illustration {
		display: block;
		margin-bottom: 1.5rem;
		width: 50%;
}

.thankyou-rating {
		background-color: var(--less-darker-blue);
		color: var(--primary-orange);
		font-size: calc(15em / 16); /* 15px */
		padding: 0.5em 0.9em;
		border-radius: 1.4em;
		margin-bottom: 1.85rem;
}

.thankyou-header {
		text-align: center;
		font-weight: var(--font-overpass-bold);
		font-size: 1.5em;
		margin-bottom: 1rem;
}

.thankyou-paragraph {
		text-align: center;
		color: var(--light-gray);
		font-size: calc(14.5em/16); /* 14.5px */
		line-height: 1.5;
		margin-bottom: 0.4rem;
}

/* ATTRIBUTES */
.attribution {	
		font-size: 11px;
		text-align: center; 
}
.attribution a {
		color: var(--primary-orange);
}

/* Linked with Javascript */
.hidden {
    display: none;
}